* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#particles-js {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
}

.main {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1000px;
    height: 520px;
    margin-left: -500px;
    margin-top: -260px;
    border-radius: 20px;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 25px;
    color: white;
}

.footer p {
    text-align: center;
    padding: 2px;
}

.tab {
    overflow: hidden;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 10px;
}

.tab button {
    background-color: inherit;
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1em;
}

.tab button:hover {
    background-color: #b31616;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent h2 {
    text-align: center;
}

.content {
    display: flex;
    padding: 20px;

}

.content2 {
    display: flex;
    padding: 20px;

}

.content p {
    padding: 20px;
    font-size: 1.5em;
    margin-top: 80px;

}

.content2 p {
    padding: 20px;
    font-size: 1.5em;
}

.tabcontent img {
    max-width: 250px;
}

.content3 {
    margin-left: 220px;
    padding: 20px;
}

.tabcontent {
    animation: fadeEffect 1s;
}