.main-btn{
    border:1px solid;
    border-color:#0087fa; 
    margin-left:-2px;
    margin-top:40px;
    height:46px;
    width:246.5px;
    padding-top:24px;
    padding-left:3px;
    padding-right:3px;
    border-radius:10px;
}

.main-title-button{
    text-decoration: none;
    color:#f1f4f8;
    background-color:#0087fa;
    padding:21px 70px;
    border-radius:10px;
    font-size:16px;
    font-weight: 600;
    transition: 0.2s linear;
}
.main-title-button:hover{
    background-color:#1274ca;
}

/*  */
.main-cards-button{
    text-decoration: none;
    color:#f1f4f8;
    background-color:#0087fa;
    padding:21px 69px;
    border-radius:10px;
    font-size:16px;
    font-weight: 600;
    transition: 0.2s linear;
}
.main-cards-button:hover{
    background-color:#1274ca;
}

.main-cards-btn-align{
    margin-left:480px;

}
/*  */
.main-free-button{
    text-decoration: none;
    color:#f1f4f8;
    background-color:#0087fa;
    padding:21px 27px;
    border-radius:10px;
    font-size:16px;
    font-weight: 600;
    transition: 0.2s linear;
}
.main-free-button:hover{
    background-color:#1274ca;
}
